{
  "mcpServers": {
    {%- if "rust" in languages %}
    "rust-analyzer": {
      "command": "mcp-language-server",
      "args": [
        "--lsp",
        "rust-analyzer",
        "--workspace",
        ".",
        "--",
        "--stdio"
      ]
    },
    {%- endif %}
    "librovore": {
      "command": "uvx",
      "args": [ "librovore", "serve" ]
    }{%- if "python" in languages %},
    "pyright": {
      "command": "mcp-language-server",
      "args": [
        "--lsp",
        "pyright-langserver",
        "--workspace",
        ".",
        "--",
        "--stdio"
      ]
    }
    {%- endif %}
  }
}