---
{%- if context.allowed_tools is defined %}
allowed-tools: {{ context.allowed_tools | join(', ') }}
{%- endif %}
description: {{ context.description }}
{%- if context.argument_hint is defined %}
argument-hint: "{{ context.argument_hint }}"
{%- endif %}
---

{{ content }}
